body {
  background-color: #333;
}
.tableContentWrapper {
  margin: 5px;
}
.tableName {
  color: #fcfff4;
  font-size: 15px;
  padding-left: 5px;
}
input {
  border: 1px solid #333;
  border-radius: 3px;
  background: #fcfff4;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  width: 100px;
  color: #333;
}
::placeholder {
  color: #333;
  font-size: 15px;
  padding: 5px;
  border-radius: 3px;
}
.tableContentItemWrapper{
  margin: 2px 0 2px 0;
}
.key {
  /* color: #fcfff4; */
  color: #000;
  font-size: 15px;
}
.propertyInput {
  padding-left: 10px;
}

.ant-input-number {
  width: 60px;
}
.propertyY {
  margin-left: 5px;
}
